In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv("GRAPE_QUALITY.csv")

In [3]:
data.dtypes

sample_id                  int64
variety                   object
region                    object
quality_score            float64
quality_category          object
sugar_content_brix       float64
acidity_ph               float64
cluster_weight_g         float64
berry_size_mm            float64
harvest_date              object
sun_exposure_hours       float64
soil_moisture_percent    float64
rainfall_mm              float64
dtype: object

In [4]:
data.isnull().sum()

sample_id                0
variety                  0
region                   0
quality_score            0
quality_category         0
sugar_content_brix       0
acidity_ph               0
cluster_weight_g         0
berry_size_mm            0
harvest_date             0
sun_exposure_hours       0
soil_moisture_percent    0
rainfall_mm              0
dtype: int64

In [5]:
# Dropping non-predictive columns (e.g., 'sample_id', 'harvest_date', 'quality_category')
data_cleaned = data.drop(columns=['sample_id', 'harvest_date', 'quality_category'])

In [6]:
from pycaret.regression import *

# Initialize PyCaret setup
regression_setup = setup(
    data=data_cleaned,
    target='quality_score',             # Target variable
    session_id=123,                     # For reproducibility
    normalize=True,                     # Normalize numeric features
    categorical_features=['variety', 'region']  # Specify categorical columns
)

In [7]:
best_model = compare_models(sort='RMSE')

In [21]:
tuned_model = tune_model(best_model)

type(tuned_model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

sklearn.ensemble._gb.GradientBoostingRegressor

In [9]:
evaluate_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [10]:
#Make predictions

predictions = predict_model(tuned_model)
print(predictions)

                variety          region  sugar_content_brix  acidity_ph  \
131     Sauvignon Blanc          Sonoma           19.920000        2.82
203  Cabernet Sauvignon          Sonoma           16.469999        2.86
50             Riesling          Sonoma           27.490000        3.44
585            Riesling          Sonoma           12.730000        3.67
138            Riesling         Tuscany           19.610001        3.06
..                  ...             ...                 ...         ...
556           Zinfandel          Sonoma           22.219999        3.53
598          Pinot Noir           Rioja           11.710000        3.20
458              Merlot  Barossa Valley           14.310000        3.48
586               Syrah     Napa Valley           23.900000        2.90
178  Cabernet Sauvignon    Loire Valley           25.219999        3.77

     cluster_weight_g  berry_size_mm  sun_exposure_hours  \
131        296.899994      13.270000                 9.1
203        307.649994      24.450001                10.3
50         111.599998      24.020000                 7.2
585        148.470001      24.480000                 6.3
138        206.429993      19.980000                10.1
..                ...            ...                 ...
556        132.089996      19.950001                 6.7
598        161.649994      16.080000                10.0
458        259.140015      16.240000                11.9
586        186.199997      15.900000                 8.6
178        294.239990      14.900000                 9.2

     soil_moisture_percent  rainfall_mm  quality_score  prediction_label
131              60.299999   476.500000           2.16          2.257768
203              56.000000   267.600006           2.74          2.740324
50               50.500000   727.000000           3.03          2.992806
585              46.400002   605.099976           1.97          2.023706
138              55.500000   601.400024           2.82          2.827579
..                     ...          ...            ...               ...
556              44.700001   313.200012           2.51          2.536195
598              66.800003   798.500000           2.10          1.960871
458              31.600000   335.100006           2.65          2.504487
586              48.799999   450.500000           2.51          2.547515
178              37.900002   326.299988           2.71          2.683559

[300 rows x 11 columns]

In [11]:
# Prepare new data in the same format as the training data and use
#Define the new_data

import pandas as pd

# Example of new data (replace with actual data)
new_data = pd.DataFrame({
    'sugar_content_brix': [22.5, 24.3],
    'acidity_ph': [3.5, 3.7],
    'cluster_weight_g': [120, 140],
    'berry_size_mm': [15, 18],
    'sun_exposure_hours': [8, 10],
    'soil_moisture_percent': [25, 30],
    'rainfall_mm': [200, 180],
    'variety': ['Cabernet Sauvignon', 'Merlot'],
    'region': ['Napa Valley', 'Sonoma']
})

new_data_predictions = predict_model(tuned_model, data=new_data)
print(new_data_predictions)

   sugar_content_brix  acidity_ph  cluster_weight_g  berry_size_mm  \
0           22.500000         3.5               120             15
1           24.299999         3.7               140             18

   sun_exposure_hours  soil_moisture_percent  rainfall_mm             variety  \
0                   8                     25          200  Cabernet Sauvignon
1                  10                     30          180              Merlot

        region  prediction_label
0  Napa Valley          2.416202
1       Sonoma          2.977378

In [22]:
import joblib
joblib.dump(tuned_model, 'best_grape_quality_model.pkl')

['best_grape_quality_model.pkl']

GradientBoostingRegressor(random_state=123)

In [15]:
from sklearn.ensemble import GradientBoostingRegressor
import joblib

model = GradientBoostingRegressor(random_state=123)
# Fit your model
# model.fit(X_train, y_train)

# Save the model
joblib.dump(tuned_model, 'gradient_boosting_model.pkl')

['gradient_boosting_model.pkl']

In [16]:
print(type(tuned_model))

<class 'sklearn.ensemble._gb.GradientBoostingRegressor'>

In [18]:

import sklearn
print(sklearn.__version__)

1.4.2

In [19]:
import joblib
print(joblib.__version__)

1.3.2

In [20]:
from sklearn.ensemble import GradientBoostingRegressor
import joblib

# Training and saving the model
tuned_model = GradientBoostingRegressor(random_state=123)
# model.fit(X_train, y_train)
joblib.dump(tuned_model, 'tuned_gradient_boosting_model.pkl')

# Loading the model
tuned_model = joblib.load('tuned_gradient_boosting_model.pkl')
print(type(tuned_model))  # Should output <class 'sklearn.ensemble._gb.GradientBoostingRegressor'>

<class 'sklearn.ensemble._gb.GradientBoostingRegressor'>

In [23]:
tuned_model.feature_names_in_

array(['variety_Cabernet Sauvignon', 'variety_Merlot', 'variety_Riesling',
       'variety_Syrah', 'variety_Pinot Noir', 'variety_Zinfandel',
       'variety_Chardonnay', 'variety_Sauvignon Blanc', 'region_Bordeaux',
       'region_Loire Valley', 'region_Barossa Valley', 'region_Tuscany',
       'region_Mendoza', 'region_Rioja', 'region_Sonoma',
       'region_Napa Valley', 'sugar_content_brix', 'acidity_ph',
       'cluster_weight_g', 'berry_size_mm', 'sun_exposure_hours',
       'soil_moisture_percent', 'rainfall_mm'], dtype=object)